[Unit]
Description=index.js
Documentation=https://example.com
After=network.target

[Service]
WorkingDirectory=/home/ec2-user/webapp/
EnvironmentFile=/home/ec2-user/webapp/.env
Type=simple
User=ec2-user
ExecStart=/usr/bin/node /home/ec2-user/webapp/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target